.app.dark {
    --bg-color: #383832;
    --inverted-bg-color: #2a2a21;
    --primary-color: #fff;
    --secondary-color: #234234;
    --inverted-primary-color: #553456;
    --inverted-secondary-color: #522442;
}
