:root {
    --bg-color: #bbbb92;
    --inverted-bg-color: #919170;
    --primary-color: #553456;
    --secondary-color: #522442;
    --inverted-primary-color: #234234;
    --inverted-secondary-color: #fff;
}
